core.*
*~
*.swp
*#
*.#
*.o
*.out
*.log
*.jou
*.str
.Xil
*.backup
*.orig
*.init*
*.opt_design.begin.rst
*.opt_design.end.rst
*.phys_opt*
*.place*
*.route*
*.vivado*
*.Vivado*
.*
__*
compile.sh
**/*.runs
**/*.cache
**/*.sim
**/*.ip_user_files
**/*.hw